/* LifeHack font */
@font-face {
  font-family: 'LifeHack';
  src: url('../fonts/Lifehack\ Medium.otf');
}

/* Gagalin font */
@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin/Gagalin-Regular.woff');
}

/* Ubuntu fonts */
@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  src: url('../fonts/Ubuntu/Ubuntu-B.woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('../fonts/Ubuntu/Ubuntu-Medium.woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('../fonts/Ubuntu/Ubuntu-Light.woff');
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.woff');
}
