   .burger {
     width: 50%;
     margin-left: rem(15px);

     @include tablets() {
       margin-left: 0;
       width:65%;
       display: flex;
       justify-content: center;
     }

     @include phones() {
      width:70%;
      margin-bottom: 5%;
     }

   }
