.contacts {
  overflow: hidden;
  @include bg_size_image;
  background: url("../img/map\ image.png") center center no-repeat;
  background-size: cover;
  position: relative;
  font-size: rem(14px);

  .contacts__footer {
    position: absolute;
    bottom: 0;

    color: #fff;

    width: 100%;
    height: rem(60px);
    background-color: #131313;

    @include phones {
      box-sizing: border-box;
      padding-top: 1%;
      height:  rem(125px);
    }

    .footer__container {
      @include flex-box;
      max-width: rem(940px);
      width: 95%;
      margin: 0 auto;
      align-items: center;
      height: 100%;

      @include phones {
        flex-direction: column;

      }
    }

    .footer_adress {
      width: 50%;

      height: 100%;

      @include phones {
        width: 100%;
        text-align: center;
        font-size: rem(15px);
      }

      .adress_description {
        margin: rem(8px) auto;

      }
    }

    .social_list {
      width: 50%;

      display: block;
      height: 100%;
      @include list_style_none;
      @include flex-box;
      justify-content: flex-end;

      @include phones {
        width: 100%;
        text-align: center;
        justify-content: center;
      }

      .social__link {
        margin-left: 1.5rem;
        display: block;
      }

      .vk {
        width: rem(23px);
        height: rem(20px);
      }

      .inst,
      .fb {
        width: rem(20px);
        height: rem(20px);
      }

      .twitter {
        width: rem(20px);
        height: rem(16px);
      }

      .socicon {
        fill: #555555;
        transition: .3s;
      }

      .social__link:hover .socicon {
        fill: #ffffff;
      }
    }
  }

}
