.description {
  width: 55%;

  @include tablets() {
    width: 100%;
  }

  .description__item {

    @include font_header;
    font-size: 4.5rem;

    margin-top: 6%;

    @include tablets() {
      margin-top: 0;
      text-align: center;
    }

  }

  .description__item:last-child {

    @include font_lifehack;

    margin-top: 2%;
    // font-size: rem(64px);
    line-height: 4rem;
    font-size: 4rem;

    @include phones() {
      margin-top: 0;
      font-size: rem(54px);
    }
  }


}
