.feedback {

  @include flex-box;
  filter: grayscale(100%);
  overflow: hidden;
}

.feedback_list {
  @include list_style_none;
  @include flex-box;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
