.paginator {
  z-index: 100;
  position: fixed;
  right: rem(40px);
  top: 50%;
  transform: translateY(-50%);

  @include tablets() {
    display: none;
  }

  .paginator__list {
    @include link_style_none;
    @include list_style_none;
    @include flex-box;

    flex-direction: column;
  }

  .paginator__item {
    display: flex;
    margin-bottom: rem(5px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
  }

  .active {
    border-color: #fff;
  }

  .paginator__link {
    box-sizing: border-box;
    display: block;
    position: relative;

    margin-bottom: rem(3px);

    height: rem(16px);
    width: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    transition: all 0.3s;

    cursor: pointer;


    &:hover {
      border-color: #fff;
    }

    &:before {
      content: "";
      width: rem(6px);
      height: rem(6px);
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }



}
