.player {
  background: url("../img/player_bg\ .png") center center no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_header {
    padding-top: 0;
    @include font_header;
    font-size: rem(60px);
    color: #2f3234;
    text-align: center;
  }

}

#player {

  width: 480px;
  height: 320px;

  @include tablets {
    width: 400px;
    height: 300px;
  }

  @include phones {
    width:90%;
    height:40%;
  }
}
