html {
  height: 100%;

  @include tablets() {
    font-size: 13px;
  }

  @include phones() {
    font-size: 13px;
  }

  line-height: 1.42;
  font-family: 'Ubuntu';
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu';
  font-size: rem(16px);
  line-height: 1.42;
  text-transform: uppercase;
  height: 100%;
}

.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;

  height: 100%;
  overflow: hidden;
}

.section {
  height: 100%;
  min-height: 650px;
}

.one-page-scroll {
  height: 100%;
  transition: transform 1s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);

}

img {
  width: 100%;
  height: 100%;
}
